@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(~assets/fonts/Rubik.ttf) format("truetype");
}

html {
  font-family: "Rubik";
  overflow-x: hidden !important ;
}
.text-mine {
  font-size: 0.95rem;
}
.card {
  background-color: #35068c;
}

@keyframes Slide_Left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes Slide_Right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes Slide_Up {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes Slide_Down {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes come_Up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.hidden-s::-webkit-scrollbar {
  display: none !important;
}
div.hidden-s {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
