@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(~assets/Rubik.ttf) format("truetype");
}

html {
  font-family: "Rubik";
}
.text-mine {
  font-size: 0.95rem;
}
.card {
  background-color: #35068c;
}
